<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
  <string>ca-app-pub-3940256099942544/2934735716</string>
  <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
  <string>ca-app-pub-3940256099942544/4411468910</string>
  <key>CLIENT_ID</key>
  <string>556474743051-asrpn34ght3cvr11jurkjtnh91l0depd.apps.googleusercontent.com</string>
  <key>REVERSED_CLIENT_ID</key>
  <string>com.googleusercontent.apps.556474743051-asrpn34ght3cvr11jurkjtnh91l0depd</string>
  <key>API_KEY</key>
  <string>AIzaSyCnu1UfKmb12v-nQydr_V2nc_jTDEkmnIE</string>
  <key>GCM_SENDER_ID</key>
  <string>556474743051</string>
  <key>PLIST_VERSION</key>
  <string>1</string>
  <key>BUNDLE_ID</key>
  <string>nl.koeriers-kollektief.koeriersapp</string>
  <key>PROJECT_ID</key>
  <string>test-d4d4b</string>
  <key>STORAGE_BUCKET</key>
  <string>test-d4d4b.appspot.com</string>
  <key>IS_ADS_ENABLED</key>
  <true></true>
  <key>IS_ANALYTICS_ENABLED</key>
  <false></false>
  <key>IS_APPINVITE_ENABLED</key>
  <false></false>
  <key>IS_GCM_ENABLED</key>
  <true></true>
  <key>IS_SIGNIN_ENABLED</key>
  <true></true>
  <key>GOOGLE_APP_ID</key>
  <string>1:556474743051:ios:0288ee0cf96aa69a</string>
  <key>DATABASE_URL</key>
  <string>https://test-d4d4b.firebaseio.com</string>
</dict>
</plist>
